
@{
    ViewBag.Title = "OrderSubmitted";
}

<section>
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Check out</li>
            </ol>
        </div><!--/breadcrums-->

        <div class="shopper-informations">
            <div class="row">
                <div class="col-sm-5 clearfix">
                    <div class="bill-to">
                        <h2>Order successfully submitted!</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


