@model dynamic
@{
    ViewBag.Title = "Checkout";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Check out</li>
            </ol>
        </div><!--/breadcrums-->

        <div class="shopper-informations">
            <div class="row">
                <div class="col-sm-5 clearfix">
                    <div class="bill-to">
                        @*<p>Bill To</p>*@
                        <div class="form-one">
                            <form>
                                <input type="text" placeholder="Name *" required value="@Model.UserDetails.Name">
                                <input type="text" placeholder="Phone *" required>
                                @*<select>
                                        <option>-- Phones --</option>
                                    </select>*@
                                <input type="text" placeholder="Address *" required>
                                @*<select>
                                        <option>-- Addresses --</option>
                                    </select>*@
                            </form>
                            <a id="submit-order" class="btn btn-primary">Submit Order</a>
                        </div>
                        @*<div class="form-two">
                                <form>
                                    <input type="text" placeholder="Zip / Postal Code *">
                                    <select>
                                        <option>-- Country --</option>
                                        <option>United States</option>
                                        <option>Bangladesh</option>
                                        <option>UK</option>
                                        <option>India</option>
                                        <option>Pakistan</option>
                                        <option>Ucrane</option>
                                        <option>Canada</option>
                                        <option>Dubai</option>
                                    </select>
                                </form>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="payment-options">
        </div>
    </div>
</section> <!--/#cart_items-->

@section scripts{
    <script>
        var Checkout = {
            init: function () {
                $("#submit-order").click(this.submitOrder);
            },

            submitOrder: function () {
                var url = "@Url.Action("SubmitOrder", "Cart")"
                $.get(url).success(function (res) {
                    console.log(res);
                })
            }
        };

        $(function () {
            Checkout.init();
        })
    </script>
}